body {
  padding-right: 0px;
  padding: 0px;
  margin: 0px;
  background: #1b1c29;
  font-family: "Graphik";
}

.navbar span img {
  display: none;
}

.menue {
  display: none;
}

.navbar {
  padding: 8px;
  padding-left: 16px;
  display: grid;
  -moz-column-gap: 50px;
       column-gap: 50px;
  grid-template-columns: 0.5fr 2fr 0.56fr;
  margin-top: 7px;
}
.navbar img {
  flex: 0.2;
  width: 60px;
  height: 50px;
}
.navbar .links {
  flex: 0.59;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  text-decoration: none;
  font-weight: 100;
  font-size: larger;
  color: white;
}
.navbar .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0.18;
  -moz-column-gap: 10PX;
       column-gap: 10PX;
}

.login12 {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.login12 .leftcol {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login12 .leftcol img {
  position: absolute;
}
.login12 .leftcol .login-text {
  border: 20px 20px 20px;
  height: 40%;
  width: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  color: white;
  border-radius: 30px 30px 30px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.login12 .leftcol h2 {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: rgb(255, 255, 255);
}
.login12 .leftcol P {
  color: rgba(220, 232, 230, 0.7137254902);
  font-size: 28px;
}
.login12 .right-col {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.login12 .right-col .img1 {
  position: absolute;
  top: 250px;
}
.login12 .right-col .img2 {
  bottom: 150px;
  position: absolute;
}
.login12 .right-col form {
  align-items: center;
  border-radius: 30px 30px 30px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  height: 60VH;
  width: 45%;
  padding: 40px 40px 40px 40px;
  color: #181824;
  justify-content: center;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.63);
  font-size: larger;
  font-family: "Graphik";
  font-weight: bold;
}
.login12 .right-col form .password {
  width: 85%;
  text-align: center;
  color: #181824;
  border-radius: 20px 20px 20px;
  border: none;
  padding: 5px 5px 5px 5px;
  background: rgba(255, 251, 251, 0.655);
  font-family: "Graphik";
}
.login12 .right-col form .username {
  width: 85%;
  text-align: center;
  color: #181824;
  border-radius: 20px 20px 20px;
  border: none;
  padding: 5px 5px 5px 5px;
  background: rgba(255, 251, 251, 0.655);
  font-family: "Graphik";
}
.login12 .right-col form .login-cta {
  margin-top: 30px;
  border-radius: 30px 30px 30px 30px;
  font-size: 13px;
  font-family: "Graphik";
  width: 70%;
  padding: 10px 20px 10px 20px;
  background-color: #09554b;
  color: white;
  border: none;
  display: flex;
}

.mobile {
  display: none;
}/*# sourceMappingURL=login.css.map */